:root.light {
    --background-color-primary: #fff;
    --background-color-secondary: #dbdbdb;
    --background-color-contrast: black;
    --background-color-blur: #ffffff79;
    --color-accent: #6a43a94f;
    --color-border: #262626;
    --color-text-primary: #212121;
    --color-text-secundary: #262626;
    --color-text-contrast: #fff;
    --box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); 
}

:root.dark {
    --background-color-primary: black;
    --background-color-secondary: rgb(54, 54, 54);
    --background-color-contrast: #fff;
    --background-color-blur: rgba(0, 0, 0, 0.443);
    --color-accent: #7853b4;
    --color-border: #595959;
    --color-text-primary: #fff;
    --color-text-secundary: #757575;
    --color-text-contrast: #212121;
    --box-shadow: 0 2px 10px rgba(255, 255, 255, 0.05); 
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: Arial, Helvetica, sans-serif;
    transition: background-color 250ms ease-in-out, box-shadow 250ms ease-in-out;
}

body {
    background-color: var(--background-color-primary);
}
